@import "include-media/dist/_include-media.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-bg: #302f2f;
$component-bg: #e7dddd;

$breakpoints: (
  phone: 400px,
  tablet: 768px,
  desktop: 1280px,
  desktop-lg: 2560px,
);

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: $main-bg;
  position: relative;

  button.button.ui.sidebar-toggle {
    position: fixed;
    left: 50px;
    top: 50px;
    @include media("<tablet") {
      display: none;
    }
  }
  button.button.ui.sidebar-toggle-sm {
    position: fixed;
    left: 30px;
    top: 65px;
    @include media("<phone") {
      left: 10px;
    }
    @include media(">=tablet") {
      display: none;
    }
  }
}

.app-container.ui.segment {
  margin: 0.7rem 0;
  padding: 0;
}

.search-container {
  padding: 0 225px;
  .search-input {
    border-radius: 30px;
    input {
      transition: 0.5s;
      background-color: $component-bg;
      border-radius: 30px;
      padding-left: 70px;
    }
  }
}

.list-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: auto;

  @include media("<tablet") {
    flex-direction: row;
  }
  @include media(">=tablet", "<desktop") {
    width: 100vw;
  }
  @include media(">=desktop", "<=1600px") {
    max-width: 85vw;
  }
  @include media(">1600px", "<=1949px") {
    max-width: 80vw;
  }
  @include media(">1949px", "<=2079px") {
    max-width: 75vw;
  }
  @include media(">2079px", "<=2228px") {
    max-width: 70vw;
  }
  @include media(">2228px", "<=2399px") {
    max-width: 65vw;
  }
  @include media(">2399px") {
    width: 60vw;
  }
  @include media(">2599px") {
    width: 50vw;
  }
  @include media(">3119px") {
    width: 45vw;
  }

  .ui.card:first-child,
  .ui.card:last-child {
    margin: 20px;
  }

  .media-element {
    height: 370px;
    width: 220px;
    margin: 20px;
    justify-content: end;
    transition: 0.2s;
    cursor: pointer;
    background-color: $component-bg;
    &:hover {
      transform: translate(0, -10px);
    }

    .media-element-img-container {
      padding: 10px;
      width: 170px;

      .media-element-img {
        object-fit: cover;
        @include media("<tablet") {
          max-width: 85%;
        }
      }
    }

    .content {
      padding-top: 15px;
      max-height: 115px;
    }
  }
}

.ui.modal {
  z-index: 1200;
  @include media("<=phone") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    overflow-y: auto;
  }
  @include media("<tablet") {
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
  }

  div.ui.big.image {
    @include media("<=phone") {
      max-width: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include media(">phone", "<=tablet") {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .description p {
    line-height: 28px;
  }

  div.center.aligned.column {
    &:last-of-type {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .star-rating {
    @include media("<tablet") {
      display: none;
    }
  }
}

.ui.overlay.sidebar {
  z-index: 5000 !important;
}
.sidebar {
  position: relative;
  h3 {
    margin-top: 14px;
    margin-bottom: 0;
    padding-bottom: 13px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.9);
    color: white;
  }
}
