@import "semantic-ui-css/semantic.min.css";
@import "include-media/dist/_include-media.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  p,
  div,
  h1,
  h2,
  h3,
  h4 {
    font-family: "Open Sans", sans-serif !important;
  }
}

$main-bg: #302f2f;

$breakpoints: (
  phone: 320px,
  iphone: 380px,
  tablet: 768px,
  desktop: 1024px,
  desktop-lg: 2560px,
);

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: $main-bg;
  position: relative;

  .sidebar-toggle {
    position: fixed;
    left: 50px;
    top: 50px;
    background-color: $main-bg !important;
  }
}

.app-container {
  margin: 0.7rem 0 !important;
  padding: 0 !important;
}

.search-container {
  padding: 0 225px;
  .search-input {
    border-radius: 30px;
    input {
      transition: 0.5s;
      background-color: rgb(231, 221, 221);
      border-radius: 30px;
      padding-left: 70px;
    }
  }
}

.list-container {
  height: fit-content;
  width: 80vw;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: auto;

  @include media("<=tablet") {
    // flex-direction: column;
    // background-color: red;
  }
  @include media("<=iphone") {
    flex-direction: row;
    // background-color: pink;
    flex-wrap: wrap;
  }
  @include media(">=tablet", "<=desktop") {
    width: 80vw;
    // background-color: white;
  }
  @include media(">=desktop-lg") {
    width: 60vw;
    // background-color: blue;
  }

  .ui.card:first-child,
  .ui.card:last-child {
    margin: 20px;
  }

  .movie-element {
    height: 370px;
    width: 220px;
    margin: 20px;
    justify-content: end;
    transition: 0.2s;
    cursor: pointer;
    background-color: rgb(231, 221, 221);
    &:hover {
      transform: translate(0, -10px);
    }

    .movie-element-img-container {
      padding: 10px;
      width: 170px;

      .movie-element-img {
        object-fit: cover;
        @include media("<tablet") {
          max-width: 85%;
        }
      }
    }

    .content {
      padding-top: 15px;
      max-height: 115px;
    }
  }
}

.modal {
  .description p {
    line-height: 28px;
  }
  div.aligned {
    &:last-child {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
  .header {
    //sprawedzic!!!!!!!!!!!!!!!!
    @include media("<tablet") {
      font-size: 16px;
    }
  }
  .star-rating {
    @include media("<tablet") {
      display: none;
    }
  }
}

.sidebar {
  z-index: 1100 !important;
  position: relative;
  h3 {
    margin-top: 14px;
    margin-bottom: 0;
    padding-bottom: 13px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.9);
    color: white;
  }
}
