@import "semantic-ui-css/semantic.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  p,
  div,
  h1,
  h2,
  h3,
  h4 {
    font-family: "Open Sans", sans-serif !important;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  transition: 0.7s;
  overflow: hidden;
  background-color: #302f2f;
  position: relative;
  .sidebar-toggle {
    position: fixed;
    left: 50px;
    top: 50px;
  }
}

.search-container {
  padding: 0 225px;
  .search-input {
    border-radius: 30px;
    input {
      transition: 0.5s;
      background-color: rgb(231, 221, 221);
      border-radius: 30px;
      padding-left: 70px;
    }
  }
}

.list-container {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  .ui.card:first-child,
  .ui.card:last-child {
    margin: 20px;
  }

  .movie-element {
    height: 370px;
    width: 220px;
    margin: 20px;
    justify-content: end;
    transition: 0.2s;
    cursor: pointer;
    background-color: rgb(231, 221, 221);
    &:hover {
      transform: translate(0, -10px);
    }

    .movie-element-img-container {
      padding: 10px;
      width: 170px;

      .movie-element-img {
        object-fit: cover;
      }
    }

    .content {
      padding-top: 15px;
      max-height: 115px;
    }
  }
}

.modal {
  .description p {
    line-height: 28px;
  }
  div.aligned {
    &:last-child {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
}

.sidebar {
  z-index: 1100 !important;
  position: relative;
  h3 {
    margin-top: 14px;
    margin-bottom: 0;
    padding-bottom: 13px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.9);
    color: white;
  }
}
